body {
    background-color: lightblue;
}

table {
    background: lightgray;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-top: 24px;
    max-width: 100%;
    min-width: 600px;
}

thead {
    font-weight: bold;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.td-text-field {
    min-width: 400px;
}

tbody tr:nth-child(odd) {
    background: rgb(240, 255, 255);  
}

tbody tr:nth-child(even) {
    background: white;  
}